[Unit]
Description=Initialize OpenSSH
After=network.target
ConditionPathExists=!/etc/ssh/ssh_host_rsa_key

[Service]
Type=oneshot
ExecStart=/usr/sbin/dpkg-reconfigure openssh-server

[Install]
WantedBy=ssh.service

